/* CSS files add styling rules to your content */

#top, #left {
  background: #c70039;
	position: fixed;
}

#bottom, #right {
	background: #111d5e;
	position: fixed;
}

#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }


body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  margin: 0;
}

.name {
  font-family: 'Staatliches', cursive;
  color: #f37121;
  font-size: 200%;
}

.description {
  font-family: 'Staatliches', cursive;
  color: #ffbd69;
  font-size: 150%;
}
