/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-family: 'Staatliches', cursive;
  color: #c70039;
}

.name {
  font-family: 'Staatliches', cursive;
  color: #f37121;
}

.description {
  font-family: 'Staatliches', cursive;
  color: #ffbd69;
}
